*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #F7FFF7;
}

header {
  display: grid;
  place-content: center;
  width: 100%;
  height: 15vh;
  background-image: url("https://cdn.pixabay.com/photo/2018/10/12/21/09/grass-3743023_960_720.jpg");
}

.container {
  display: grid;
  place-content: center;
  grid-template-areas: "arriba" "abajo";
  grid-gap: 3rem;
  margin: 10vh auto 0 auto;
  height: 100vh;
  margin-top: -1vh;
  color: snow;
  font-size: 3vh;
  font-family: "Cormorant Garamond", serif;
  width: 40%;
}

.container__top {
  display: grid;
  opacity: 0.1;
  grid-area: arriba;
  grid-template-areas: "texto imagen";
  border-radius: 1vh;
  width: 100%;
  height: fit-content;
  background-color: #09a765;
  box-shadow: 0 2px 10px teal;
  font-weight: 400;
  text-shadow: 0 2px 10px black;
}

.container__top:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.container__top--texto {
  display: grid;
  grid-area: texto;
  padding: 2rem;
}

.container__top--texto ul {
  display: grid;
  margin-left: -5vh;
}

.container__top--iconos {
  display: flex;
  justify-content: space-around;
}

.container__top--foto {
  display: grid;
  grid-area: imagen;
  min-width: 9vh;
  place-content: center;
  height: 100%;
}

.container__top--foto img {
  width: 100%;
  border-radius: 1vh;
}

.container__bottom {
  display: grid;
  opacity: 0.1;
  grid-area: abajo;
  color: black;
  margin-bottom: 20%;
  grid-gap: 3rem;
  border-radius: 1vh;
  padding: 1.5vh;
  width: 100%;
  place-content: center;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 2px 10px teal;
}

.container__bottom:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.container__bottom--buttons {
  display: flex;
  justify-content: center;
}

.container__bottom button {
  margin: -6vh 1vh 2vh 1vh;
  box-shadow: 0 2px 10px teal;
}

hr {
  margin: -3vh 0 -6vh 0;
  border: 1px black solid;
}

li {
  list-style: none;
}

a img:hover {
  transform: rotate(360deg);
  transition: 1s;
  filter: saturate(2);
}

@media (max-width: 1312px) {
  .container {
    font-size: 2.5vh;
    margin-top: -30%;
    height: inherit;
  }
  .container__top {
    margin-top: 75%;
    grid-template-areas: "imagen" "texto" "texto" "texto";
  }
  .container__top--texto ul {
    margin-left: -3vh;
  }
  .container__top--foto {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }
}

@media (max-width: 792px) {
  .container {
    margin-top: -40%;
    width: 25vh;
  }
  .container__top {
    margin-top: 75%;
  }
  .container__top--texto ul {
    margin-left: -3.5vh;
    font-size: 2vh;
  }
  .container__bottom {
    font-weight: 600;
  }
}

@media (max-width: 550px) {
  .container {
    margin-top: -60%;
  }
}

@media (max-width: 325px) {
  .container {
    margin-top: -75%;
    font-size: 1vh;
  }
}
/*# sourceMappingURL=estilos.css.map */