*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    background-color: #FCF7F8;
}

header{
    display: grid;
    place-content: center;
    width: 100%;
    height: 15vh;
    background-image: url("https://cdn.pixabay.com/photo/2018/10/12/21/09/grass-3743023_960_720.jpg");
}

.container{
    display: grid;
    place-content: center;
    grid-template-areas: "arriba"
                          "abajo";
    grid-gap: 3rem;
    margin: 10vh auto 0 auto;
    height: 100vh;
    margin-top: -5vh;
    color: snow;
    font-size: 3vh;
    font-family: 'Cormorant Garamond', serif;
    width: 40%;    
    &__top{
        display: grid;
        grid-area: arriba;
        grid-template-areas: "texto imagen";
        border-radius: 1vh;
        width: 100%;
        height: fit-content;
        background-color: #09A765;
        box-shadow: 0 2px 10px teal;
        font-weight: 400;
        text-shadow: 0 2px 10px black;
        &:hover{
          transform: scale(1.01);
          transition: .5s;
        }
        &--texto{
            display: grid;
            grid-area: texto;
            padding: 2rem;
        }
        &--iconos{
          display: flex;
          justify-content: space-around;
        }
        &--foto{
            display: grid;
            grid-area: imagen;
            min-width: 9vh;
            place-content: center;
            height: 100%;
            & img{
            width: 100%;
            border-radius: 1vh;
            }
        }
    }
    &__bottom{
        display: grid;
        grid-area: abajo;
        color: black;
        border-radius: 1vh;
        padding: 1.5vh;
        width: 100%;
        place-content: center;
        background-color: #FFFFFF;
        font-weight: bold;
        box-shadow: 0 2px 10px teal;
        &:hover{
          transform: scale(1.01);
          transition: .5s;
        }
        &--buttons{
            display: flex;
            justify-content: center;
         }
        & button{
        margin: -6vh 1vh 2vh 1vh;
        box-shadow: 0 2px 10px teal;
        }
    }
}

hr{
  margin: -3vh 0 -6vh 0;
    border: 1px black solid;
}

li{
  list-style: none;
}

a img:hover{
  transform: rotate(360deg);
  transition: 1s;
  filter: saturate(2)
}

@media (max-width: 1098px) {
  .container{
    font-size: 2.5vh;
    margin-top: 1.5rem;
  }
  .container__top{
    margin-top: 75%;
    grid-template-areas: "imagen"
                          "texto"
                          "texto"
                          "texto";
  &--foto{
      width: 100%;
      height: 100%;  
      border-radius: 10%;
    }
  }
  }

  .container__bottom{
    margin-bottom: 20%;
    grid-gap: 3rem;
  }

  @media (max-width: 700px){
    .container{
      width: 25vh;
    }
    .container__top{
      margin-top: 75%;
    }
  }